*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    width: 100%;
    min-height: 100vh;
    background-color:  #FAEBE0;
    
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;

}

.content-section .title{
    max-width: 800px;
    text-align: center;
}
.content-section .content h3{
    margin-top: 50px;
    color: black;
    font-size: 22px;
    line-height: 1.5;
    margin-left: 50px;
}
.content-section .social{
    margin-top: 40px;
    margin-left: 50px;
}
.content-section .social i{
    color: #000;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover{
    color: #3d3d3d;

}
